.main-image {
    height: 400px;
    background-image: url('../images/img1.png');
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}